.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

header {
  background-color: turquoise;
}

footer {
  background-color: hotpink;
  height: 5vh;
}

main {
  height: 75vh;
}

p {
  margin: 0;
}

nav {
  display: flex;
  margin: 0;
}

nav > ul {
  display: flex;
  width: 100%;
  height: 44px;
  justify-content: space-around;
  align-items: center;
  background-color: gray;
  margin: 0;
}

ul > li {
  list-style-type: none;
  height: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

li > a {
  padding: 10px;
  text-decoration: none;
  color: hotpink;
}

li > a:hover {
  background-color: hotpink;
  color: white;
}
